extends layout
block content
    h1= title

    - let rectangleid = toShow._id
    - let rectanglewidth = toShow.width
    - let rectangleheight = toShow.height
    div
    div.row
    div(class='rectangleAttr mr-3') Rectangle ID is:
    div #{rectangleid}

    form(id='rectangleForm', action=`/resource/rectangles/${rectangleid}`, method="PUT")
        div.form-group
        label.rectangleAttr(for='width') rectangle width
        input#width(type='number', name='width', value=`${rectanglewidth}`)
        div.form-group
        label.rectangleAttr(for='height') rectangle height
        input#height(type='number', name='height', value=`${rectangleheight}`)
        input(type="submit")
    script.
        document.forms['rectangleForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        console.log("Failed " + error)
        });
        });
