extends layout

block content
  h1= title

  -
  - var items = results

  div(class="container-fluid")
    div(class="row m-1")
    each rectangle, index in items 
      - let destination = `dispatch("/rectangle/update?id=${items._id}")`
      div(class="col-sm-2", onclick=`buy(${index})`) #{rectangle.width} #{rectangle.height}
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      console.log(path)
      window.location.href=path
    }


  script.
    function buy(index){
      alert(`You purchased item ${index}`)
    }