extends layout

block content
  h1= title

  -
  - var items = results

  div(class="container-fluid")
    div(class="row")
    each rectangle, index in items 
      div(class="col-sm-2", onclick=`buy(${index})`) #{rectangle.width} #{rectangle.height}
  script.
    function buy(index){
      alert(`You purchased item ${index}`)
    }