extends layout

block content
  h1= title

  -
  - var items = results

  div(class="container-fluid")
    div(class="row m-1")
    each rectangle, index in items 
      - let destination = `dispatch("/rectangle/update?id=${items._id}")`
      div(class="col-sm-2", onclick=`buy(${index})`) #{rectangle.width} #{rectangle.height}
        div(class="d-flex flex-row gap-3")
          a(class="btn btn-primary" href=`/rectangle`) Collection
          a(class="btn btn-warning" href=`/rectangle/update/?id=${items._id}`) Update
          a(class="btn btn-danger" href=`/rectangle/delete/?id=${items._id}`) Delete

  script.
    function dispatch(path){
      console.log(path)
      window.location.href=path
    }


  script.
    function buy(index){
      alert(`You purchased item ${index}`)
    }